## Spark DataFrame Operations

In [24]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col,to_date,desc

In [3]:
spark=SparkSession.builder.appName("Rdd_operations").getOrCreate()

25/06/23 13:40:28 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

## Dummy Data set

In [5]:
retail_orders_data = [
    {"OrderID": "ORD001", "CustomerID": "CUST101", "ProductID": "PROD001", "ProductName": "Laptop A", "Quantity": 1, "UnitPrice": 1200.00, "OrderDate": "2024-01-15", "Country": "USA"},
    {"OrderID": "ORD001", "CustomerID": "CUST101", "ProductID": "PROD003", "ProductName": "Mouse XYZ", "Quantity": 2, "UnitPrice": 25.50, "OrderDate": "2024-01-15", "Country": "USA"},
    {"OrderID": "ORD002", "CustomerID": "CUST102", "ProductID": "PROD002", "ProductName": "Smartphone B", "Quantity": 1, "UnitPrice": 850.00, "OrderDate": "2024-01-16", "Country": "Canada"},
    {"OrderID": "ORD003", "CustomerID": "CUST101", "ProductID": "PROD004", "ProductName": "Keyboard Pro", "Quantity": 1, "UnitPrice": 75.00, "OrderDate": "2024-01-17", "Country": "USA"},
    {"OrderID": "ORD003", "CustomerID": "CUST101", "ProductID": "PROD005", "ProductName": "Webcam HD", "Quantity": 1, "UnitPrice": 49.99, "OrderDate": "2024-01-17", "Country": "USA"},
    {"OrderID": "ORD004", "CustomerID": "CUST103", "ProductID": "PROD001", "ProductName": "Laptop A", "Quantity": 1, "UnitPrice": 1200.00, "OrderDate": "2024-01-18", "Country": "UK"},
    {"OrderID": "ORD004", "CustomerID": "CUST103", "ProductID": "PROD006", "ProductName": "Monitor 27in", "Quantity": 1, "UnitPrice": 300.00, "OrderDate": "2024-01-18", "Country": "UK"},
    {"OrderID": "ORD005", "CustomerID": "CUST104", "ProductID": "PROD007", "ProductName": "Headphones ANC", "Quantity": 1, "UnitPrice": 199.99, "OrderDate": "2024-01-19", "Country": "Australia"},
    {"OrderID": "ORD006", "CustomerID": "CUST105", "ProductID": "PROD008", "ProductName": "External SSD 1TB", "Quantity": 1, "UnitPrice": 150.00, "OrderDate": "2024-01-20", "Country": "USA"},
    {"OrderID": "ORD006", "CustomerID": "CUST105", "ProductID": "PROD003", "ProductName": "Mouse XYZ", "Quantity": 1, "UnitPrice": 25.50, "OrderDate": "2024-01-20", "Country": "USA"},
    {"OrderID": "ORD007", "CustomerID": "CUST102", "ProductID": "PROD009", "ProductName": "Printer Laser", "Quantity": 1, "UnitPrice": 220.00, "OrderDate": "2024-01-21", "Country": "Canada"},
    {"OrderID": "ORD008", "CustomerID": "CUST106", "ProductID": "PROD010", "ProductName": "Smartwatch X", "Quantity": 1, "UnitPrice": 299.99, "OrderDate": "2024-01-22", "Country": "Germany"},
    {"OrderID": "ORD009", "CustomerID": "CUST101", "ProductID": "PROD002", "ProductName": "Smartphone B", "Quantity": 1, "UnitPrice": 850.00, "OrderDate": "2024-01-23", "Country": "USA"},
    {"OrderID": "ORD010", "CustomerID": "CUST107", "ProductID": "PROD004", "ProductName": "Keyboard Pro", "Quantity": 2, "UnitPrice": 75.00, "OrderDate": "2024-01-24", "Country": "France"},
    {"OrderID": "ORD011", "CustomerID": "CUST108", "ProductID": "PROD001", "ProductName": "Laptop A", "Quantity": 1, "UnitPrice": 1200.00, "OrderDate": "2024-01-25", "Country": "USA"},
    {"OrderID": "ORD011", "CustomerID": "CUST108", "ProductID": "PROD005", "ProductName": "Webcam HD", "Quantity": 1, "UnitPrice": 49.99, "OrderDate": "2024-01-25", "Country": "USA"},
    {"OrderID": "ORD012", "CustomerID": "CUST109", "ProductID": "PROD007", "ProductName": "Headphones ANC", "Quantity": 1, "UnitPrice": 199.99, "OrderDate": "2024-01-26", "Country": "Japan"},
    {"OrderID": "ORD013", "CustomerID": "CUST101", "ProductID": "PROD003", "ProductName": "Mouse XYZ", "Quantity": 3, "UnitPrice": 25.50, "OrderDate": "2024-01-27", "Country": "USA"},
    {"OrderID": "ORD014", "CustomerID": "CUST110", "ProductID": "PROD006", "ProductName": "Monitor 27in", "Quantity": 1, "UnitPrice": 300.00, "OrderDate": "2024-01-28", "Country": "UK"},
    {"OrderID": "ORD015", "CustomerID": "CUST102", "ProductID": "PROD008", "ProductName": "External SSD 1TB", "Quantity": 1, "UnitPrice": 150.00, "OrderDate": "2024-01-29", "Country": "Canada"},
    {"OrderID": "ORD016", "CustomerID": "CUST103", "ProductID": "PROD009", "ProductName": "Printer Laser", "Quantity": 1, "UnitPrice": 220.00, "OrderDate": "2024-01-30", "Country": "UK"},
    {"OrderID": "ORD017", "CustomerID": "CUST104", "ProductID": "PROD010", "ProductName": "Smartwatch X", "Quantity": 1, "UnitPrice": 299.99, "OrderDate": "2024-01-31", "Country": "Australia"}
]

In [6]:
df_list=spark.createDataFrame(retail_orders_data)

In [9]:
# Cast OrderDate to DateType if using this method, as createDataFrame might infer StringType
df_list=df_list.withColumn("OrderDate", to_date(col("OrderDate"), "yyyy-MM-dd"))

In [10]:
df_list.printSchema()

root
 |-- Country: string (nullable = true)
 |-- CustomerID: string (nullable = true)
 |-- OrderDate: date (nullable = true)
 |-- OrderID: string (nullable = true)
 |-- ProductID: string (nullable = true)
 |-- ProductName: string (nullable = true)
 |-- Quantity: long (nullable = true)
 |-- UnitPrice: double (nullable = true)

In [11]:
df_list.show()  # Display the DataFrame without truncating the output

+---------+----------+----------+-------+---------+----------------+--------+---------+
|  Country|CustomerID| OrderDate|OrderID|ProductID|     ProductName|Quantity|UnitPrice|
+---------+----------+----------+-------+---------+----------------+--------+---------+
|      USA|   CUST101|2024-01-15| ORD001|  PROD001|        Laptop A|       1|   1200.0|
|      USA|   CUST101|2024-01-15| ORD001|  PROD003|       Mouse XYZ|       2|     25.5|
|   Canada|   CUST102|2024-01-16| ORD002|  PROD002|    Smartphone B|       1|    850.0|
|      USA|   CUST101|2024-01-17| ORD003|  PROD004|    Keyboard Pro|       1|     75.0|
|      USA|   CUST101|2024-01-17| ORD003|  PROD005|       Webcam HD|       1|    49.99|
|       UK|   CUST103|2024-01-18| ORD004|  PROD001|        Laptop A|       1|   1200.0|
|       UK|   CUST103|2024-01-18| ORD004|  PROD006|    Monitor 27in|       1|    300.0|
|Australia|   CUST104|2024-01-19| ORD005|  PROD007|  Headphones ANC|       1|   199.99|
|      USA|   CUST105|2024-01-20| ORD006|  PROD008|External SSD 1TB|       1|    150.0|
|      USA|   CUST105|2024-01-20| ORD006|  PROD003|       Mouse XYZ|       1|     25.5|
|   Canada|   CUST102|2024-01-21| ORD007|  PROD009|   Printer Laser|       1|    220.0|
|  Germany|   CUST106|2024-01-22| ORD008|  PROD010|    Smartwatch X|       1|   299.99|
|      USA|   CUST101|2024-01-23| ORD009|  PROD002|    Smartphone B|       1|    850.0|
|   France|   CUST107|2024-01-24| ORD010|  PROD004|    Keyboard Pro|       2|     75.0|
|      USA|   CUST108|2024-01-25| ORD011|  PROD001|        Laptop A|       1|   1200.0|
|      USA|   CUST108|2024-01-25| ORD011|  PROD005|       Webcam HD|       1|    49.99|
|    Japan|   CUST109|2024-01-26| ORD012|  PROD007|  Headphones ANC|       1|   199.99|
|      USA|   CUST101|2024-01-27| ORD013|  PROD003|       Mouse XYZ|       3|     25.5|
|       UK|   CUST110|2024-01-28| ORD014|  PROD006|    Monitor 27in|       1|    300.0|
|   Canada|   CUST102|2024-01-29| ORD015|  PROD008|External SSD 1TB|       1|    150.0|
+---------+----------+----------+-------+---------+----------------+--------+---------+
only showing top 20 rows

### Filteration

In [15]:
# Find all orders from a specific country (e.g., "USA")
usa_orders = df_list.filter(col("Country") == "USA")
print("Orders from USA:")
usa_orders.show()  # Display the filtered DataFrame

Orders from USA:
+-------+----------+----------+-------+---------+----------------+--------+---------+
|Country|CustomerID| OrderDate|OrderID|ProductID|     ProductName|Quantity|UnitPrice|
+-------+----------+----------+-------+---------+----------------+--------+---------+
|    USA|   CUST101|2024-01-15| ORD001|  PROD001|        Laptop A|       1|   1200.0|
|    USA|   CUST101|2024-01-15| ORD001|  PROD003|       Mouse XYZ|       2|     25.5|
|    USA|   CUST101|2024-01-17| ORD003|  PROD004|    Keyboard Pro|       1|     75.0|
|    USA|   CUST101|2024-01-17| ORD003|  PROD005|       Webcam HD|       1|    49.99|
|    USA|   CUST105|2024-01-20| ORD006|  PROD008|External SSD 1TB|       1|    150.0|
|    USA|   CUST105|2024-01-20| ORD006|  PROD003|       Mouse XYZ|       1|     25.5|
|    USA|   CUST101|2024-01-23| ORD009|  PROD002|    Smartphone B|       1|    850.0|
|    USA|   CUST108|2024-01-25| ORD011|  PROD001|        Laptop A|       1|   1200.0|
|    USA|   CUST108|2024-01-25| ORD011|  PROD005|       Webcam HD|       1|    49.99|
|    USA|   CUST101|2024-01-27| ORD013|  PROD003|       Mouse XYZ|       3|     25.5|
+-------+----------+----------+-------+---------+----------------+--------+---------+

In [16]:
#Find all orders placed after a certain date.
after_date_orders = df_list.filter(col("OrderDate") > "2024-01-20")
print("Orders placed after 2024-01-20:")
after_date_orders.show()  # Display the filtered DataFrame

Orders placed after 2024-01-20:
+---------+----------+----------+-------+---------+----------------+--------+---------+
|  Country|CustomerID| OrderDate|OrderID|ProductID|     ProductName|Quantity|UnitPrice|
+---------+----------+----------+-------+---------+----------------+--------+---------+
|   Canada|   CUST102|2024-01-21| ORD007|  PROD009|   Printer Laser|       1|    220.0|
|  Germany|   CUST106|2024-01-22| ORD008|  PROD010|    Smartwatch X|       1|   299.99|
|      USA|   CUST101|2024-01-23| ORD009|  PROD002|    Smartphone B|       1|    850.0|
|   France|   CUST107|2024-01-24| ORD010|  PROD004|    Keyboard Pro|       2|     75.0|
|      USA|   CUST108|2024-01-25| ORD011|  PROD001|        Laptop A|       1|   1200.0|
|      USA|   CUST108|2024-01-25| ORD011|  PROD005|       Webcam HD|       1|    49.99|
|    Japan|   CUST109|2024-01-26| ORD012|  PROD007|  Headphones ANC|       1|   199.99|
|      USA|   CUST101|2024-01-27| ORD013|  PROD003|       Mouse XYZ|       3|     25.5|
|       UK|   CUST110|2024-01-28| ORD014|  PROD006|    Monitor 27in|       1|    300.0|
|   Canada|   CUST102|2024-01-29| ORD015|  PROD008|External SSD 1TB|       1|    150.0|
|       UK|   CUST103|2024-01-30| ORD016|  PROD009|   Printer Laser|       1|    220.0|
|Australia|   CUST104|2024-01-31| ORD017|  PROD010|    Smartwatch X|       1|   299.99|
+---------+----------+----------+-------+---------+----------------+--------+---------+

In [17]:
# Find products with Quantity greater than 1
quantity_products = df_list.filter(col("Quantity") > 1)
print("Products with Quantity greater than 1:")
quantity_products.show()  # Display the filtered DataFrame

Products with Quantity greater than 1:
+-------+----------+----------+-------+---------+------------+--------+---------+
|Country|CustomerID| OrderDate|OrderID|ProductID| ProductName|Quantity|UnitPrice|
+-------+----------+----------+-------+---------+------------+--------+---------+
|    USA|   CUST101|2024-01-15| ORD001|  PROD003|   Mouse XYZ|       2|     25.5|
| France|   CUST107|2024-01-24| ORD010|  PROD004|Keyboard Pro|       2|     75.0|
|    USA|   CUST101|2024-01-27| ORD013|  PROD003|   Mouse XYZ|       3|     25.5|
+-------+----------+----------+-------+---------+------------+--------+---------+

### Aggregation:

In [18]:
# Calculate the total revenue per OrderID (Quantity * UnitPrice).
total_revenue = df_list.withColumn("TotalRevenue", col("Quantity") * col("UnitPrice"))
print("Total revenue per OrderID:")
total_revenue.select("OrderID", "TotalRevenue").show()  # Display the total revenue DataFrame

Total revenue per OrderID:
+-------+------------+
|OrderID|TotalRevenue|
+-------+------------+
| ORD001|      1200.0|
| ORD001|        51.0|
| ORD002|       850.0|
| ORD003|        75.0|
| ORD003|       49.99|
| ORD004|      1200.0|
| ORD004|       300.0|
| ORD005|      199.99|
| ORD006|       150.0|
| ORD006|        25.5|
| ORD007|       220.0|
| ORD008|      299.99|
| ORD009|       850.0|
| ORD010|       150.0|
| ORD011|      1200.0|
| ORD011|       49.99|
| ORD012|      199.99|
| ORD013|        76.5|
| ORD014|       300.0|
| ORD015|       150.0|
+-------+------------+
only showing top 20 rows

In [20]:
# calculate the total number of items sold for each ProductID
total_item_sold = df_list.groupBy("ProductID").sum("Quantity").withColumnRenamed("sum(Quantity)", "TotalItemsSold")
print("Total number of items sold for each ProductID:")
total_item_sold.show()  # Display the total items sold DataFrame

Total number of items sold for each ProductID:

+---------+--------------+
|ProductID|TotalItemsSold|
+---------+--------------+
|  PROD005|             2|
|  PROD008|             2|
|  PROD007|             2|
|  PROD009|             2|
|  PROD004|             3|
|  PROD001|             3|
|  PROD003|             6|
|  PROD006|             2|
|  PROD002|             2|
|  PROD010|             2|
+---------+--------------+

In [21]:
# Find the average UnitPrice per Country
avg_unit_price = df_list.groupBy("Country").avg("UnitPrice").withColumnRenamed("avg(UnitPrice)", "AverageUnitPrice")
print("Average UnitPrice per Country:")
avg_unit_price.show()  # Display the average UnitPrice per Country DataFrame

Average UnitPrice per Country:

+---------+------------------+
|  Country|  AverageUnitPrice|
+---------+------------------+
|   Canada| 406.6666666666667|
|       UK|             505.0|
|      USA|365.14799999999997|
|Australia|            249.99|
|  Germany|            299.99|
|    Japan|            199.99|
|   France|              75.0|
+---------+------------------+

In [22]:
# Count the number of unique customers
unique_customers = df_list.select("CustomerID").distinct().count()
print("Number of unique customers:", unique_customers)  # Display the count of unique customers

Number of unique customers: 10

In [25]:
# Find the top 5 best-selling products by total quantity or total revenue

top_selling_products = (
    df_list.groupBy("ProductID", "ProductName")
    .agg({"Quantity": "sum", "UnitPrice": "sum"})
    .withColumnRenamed("sum(Quantity)", "TotalQuantity")
    .withColumnRenamed("sum(UnitPrice)", "TotalRevenue")
    .orderBy(desc("TotalQuantity"))
    .limit(5)
)
print("Top 5 best-selling products:")
top_selling_products.show()  # Display the top-selling products DataFrame

Top 5 best-selling products:
+---------+------------+------------+-------------+
|ProductID| ProductName|TotalRevenue|TotalQuantity|
+---------+------------+------------+-------------+
|  PROD003|   Mouse XYZ|        76.5|            6|
|  PROD001|    Laptop A|      3600.0|            3|
|  PROD004|Keyboard Pro|       150.0|            3|
|  PROD006|Monitor 27in|       600.0|            2|
|  PROD005|   Webcam HD|       99.98|            2|
+---------+------------+------------+-------------+

### Grouping

In [26]:
# Group by CustomerID to see each customer's total spending or number of orders
customer_spending = (
    df_list.groupBy("CustomerID")
    .agg({"UnitPrice": "sum", "OrderID": "count"})
    .withColumnRenamed("sum(UnitPrice)", "TotalSpending")
    .withColumnRenamed("count(OrderID)", "NumberOfOrders")
)
print("Customer spending and order count:")
customer_spending.show()  # Display the customer spending and order count DataFrame

Customer spending and order count:

+----------+-------------+--------------+
|CustomerID|TotalSpending|NumberOfOrders|
+----------+-------------+--------------+
|   CUST103|       1720.0|             3|
|   CUST102|       1220.0|             3|
|   CUST105|        175.5|             2|
|   CUST101|      2225.99|             6|
|   CUST104|       499.98|             2|
|   CUST107|         75.0|             1|
|   CUST109|       199.99|             1|
|   CUST106|       299.99|             1|
|   CUST110|        300.0|             1|
|   CUST108|      1249.99|             2|
+----------+-------------+--------------+

In [27]:
# Group by ProductName to get insights into individual product performance.
product_performance = (
    df_list.groupBy("ProductName")
    .agg({"Quantity": "sum", "UnitPrice": "avg"})
    .withColumnRenamed("sum(Quantity)", "TotalQuantitySold")
    .withColumnRenamed("avg(UnitPrice)", "AverageUnitPrice")
)
print("Product performance:")
product_performance.show()  # Display the product performance DataFrame

Product performance:
+----------------+----------------+-----------------+
|     ProductName|AverageUnitPrice|TotalQuantitySold|
+----------------+----------------+-----------------+
|   Printer Laser|           220.0|                2|
|    Smartphone B|           850.0|                2|
|    Monitor 27in|           300.0|                2|
|External SSD 1TB|           150.0|                2|
|    Keyboard Pro|            75.0|                3|
|  Headphones ANC|          199.99|                2|
|        Laptop A|          1200.0|                3|
|       Webcam HD|           49.99|                2|
|       Mouse XYZ|            25.5|                6|
|    Smartwatch X|          299.99|                2|
+----------------+----------------+-----------------+

In [28]:
# Group by OrderDate to analyze daily sales trends
daily_sales_trends = (
    df_list.groupBy("OrderDate")
    .agg({"Quantity": "sum", "UnitPrice": "sum"})
    .withColumnRenamed("sum(Quantity)", "TotalQuantitySold")
    .withColumnRenamed("sum(UnitPrice)", "TotalRevenue")
)
print("Daily sales trends:")
daily_sales_trends.show()  # Display the daily sales trends DataFrame

Daily sales trends:

+----------+------------------+-----------------+
| OrderDate|      TotalRevenue|TotalQuantitySold|
+----------+------------------+-----------------+
|2024-01-18|            1500.0|                2|
|2024-01-19|            199.99|                1|
|2024-01-15|            1225.5|                3|
|2024-01-20|             175.5|                2|
|2024-01-16|             850.0|                1|
|2024-01-21|             220.0|                1|
|2024-01-17|124.99000000000001|                2|
|2024-01-26|            199.99|                1|
|2024-01-31|            299.99|                1|
|2024-01-29|             150.0|                1|
|2024-01-24|              75.0|                2|
|2024-01-25|           1249.99|                2|
|2024-01-23|             850.0|                1|
|2024-01-27|              25.5|                3|
|2024-01-30|             220.0|                1|
|2024-01-28|             300.0|                1|
|2024-01-22|            299.99|                1|
+----------+------------------+-----------------+

### Adding/Modifying Columns

In [30]:
# Add a new column TotalAmount (Quantity * UnitPrice)
df_list = df_list.withColumn("TotalAmount", col("Quantity") * col("UnitPrice"))
print("DataFrame with TotalAmount column:")
df_list.show()

DataFrame with TotalAmount column:
+---------+----------+----------+-------+---------+----------------+--------+---------+-----------+
|  Country|CustomerID| OrderDate|OrderID|ProductID|     ProductName|Quantity|UnitPrice|TotalAmount|
+---------+----------+----------+-------+---------+----------------+--------+---------+-----------+
|      USA|   CUST101|2024-01-15| ORD001|  PROD001|        Laptop A|       1|   1200.0|     1200.0|
|      USA|   CUST101|2024-01-15| ORD001|  PROD003|       Mouse XYZ|       2|     25.5|       51.0|
|   Canada|   CUST102|2024-01-16| ORD002|  PROD002|    Smartphone B|       1|    850.0|      850.0|
|      USA|   CUST101|2024-01-17| ORD003|  PROD004|    Keyboard Pro|       1|     75.0|       75.0|
|      USA|   CUST101|2024-01-17| ORD003|  PROD005|       Webcam HD|       1|    49.99|      49.99|
|       UK|   CUST103|2024-01-18| ORD004|  PROD001|        Laptop A|       1|   1200.0|     1200.0|
|       UK|   CUST103|2024-01-18| ORD004|  PROD006|    Monitor 27in|       1|    300.0|      300.0|
|Australia|   CUST104|2024-01-19| ORD005|  PROD007|  Headphones ANC|       1|   199.99|     199.99|
|      USA|   CUST105|2024-01-20| ORD006|  PROD008|External SSD 1TB|       1|    150.0|      150.0|
|      USA|   CUST105|2024-01-20| ORD006|  PROD003|       Mouse XYZ|       1|     25.5|       25.5|
|   Canada|   CUST102|2024-01-21| ORD007|  PROD009|   Printer Laser|       1|    220.0|      220.0|
|  Germany|   CUST106|2024-01-22| ORD008|  PROD010|    Smartwatch X|       1|   299.99|     299.99|
|      USA|   CUST101|2024-01-23| ORD009|  PROD002|    Smartphone B|       1|    850.0|      850.0|
|   France|   CUST107|2024-01-24| ORD010|  PROD004|    Keyboard Pro|       2|     75.0|      150.0|
|      USA|   CUST108|2024-01-25| ORD011|  PROD001|        Laptop A|       1|   1200.0|     1200.0|
|      USA|   CUST108|2024-01-25| ORD011|  PROD005|       Webcam HD|       1|    49.99|      49.99|
|    Japan|   CUST109|2024-01-26| ORD012|  PROD007|  Headphones ANC|       1|   199.99|     199.99|
|      USA|   CUST101|2024-01-27| ORD013|  PROD003|       Mouse XYZ|       3|     25.5|       76.5|
|       UK|   CUST110|2024-01-28| ORD014|  PROD006|    Monitor 27in|       1|    300.0|      300.0|
|   Canada|   CUST102|2024-01-29| ORD015|  PROD008|External SSD 1TB|       1|    150.0|      150.0|
+---------+----------+----------+-------+---------+----------------+--------+---------+-----------+
only showing top 20 rows

In [31]:
# Add a Month or Year column extracted from OrderDate
from pyspark.sql.functions import month, year
df_list = df_list.withColumn("Month", month(col("OrderDate"))).withColumn("Year", year(col("OrderDate")))
print("DataFrame with Month and Year columns:")
df_list.show()

DataFrame with Month and Year columns:
+---------+----------+----------+-------+---------+----------------+--------+---------+-----------+-----+----+
|  Country|CustomerID| OrderDate|OrderID|ProductID|     ProductName|Quantity|UnitPrice|TotalAmount|Month|Year|
+---------+----------+----------+-------+---------+----------------+--------+---------+-----------+-----+----+
|      USA|   CUST101|2024-01-15| ORD001|  PROD001|        Laptop A|       1|   1200.0|     1200.0|    1|2024|
|      USA|   CUST101|2024-01-15| ORD001|  PROD003|       Mouse XYZ|       2|     25.5|       51.0|    1|2024|
|   Canada|   CUST102|2024-01-16| ORD002|  PROD002|    Smartphone B|       1|    850.0|      850.0|    1|2024|
|      USA|   CUST101|2024-01-17| ORD003|  PROD004|    Keyboard Pro|       1|     75.0|       75.0|    1|2024|
|      USA|   CUST101|2024-01-17| ORD003|  PROD005|       Webcam HD|       1|    49.99|      49.99|    1|2024|
|       UK|   CUST103|2024-01-18| ORD004|  PROD001|        Laptop A|       1|   1200.0|     1200.0|    1|2024|
|       UK|   CUST103|2024-01-18| ORD004|  PROD006|    Monitor 27in|       1|    300.0|      300.0|    1|2024|
|Australia|   CUST104|2024-01-19| ORD005|  PROD007|  Headphones ANC|       1|   199.99|     199.99|    1|2024|
|      USA|   CUST105|2024-01-20| ORD006|  PROD008|External SSD 1TB|       1|    150.0|      150.0|    1|2024|
|      USA|   CUST105|2024-01-20| ORD006|  PROD003|       Mouse XYZ|       1|     25.5|       25.5|    1|2024|
|   Canada|   CUST102|2024-01-21| ORD007|  PROD009|   Printer Laser|       1|    220.0|      220.0|    1|2024|
|  Germany|   CUST106|2024-01-22| ORD008|  PROD010|    Smartwatch X|       1|   299.99|     299.99|    1|2024|
|      USA|   CUST101|2024-01-23| ORD009|  PROD002|    Smartphone B|       1|    850.0|      850.0|    1|2024|
|   France|   CUST107|2024-01-24| ORD010|  PROD004|    Keyboard Pro|       2|     75.0|      150.0|    1|2024|
|      USA|   CUST108|2024-01-25| ORD011|  PROD001|        Laptop A|       1|   1200.0|     1200.0|    1|2024|
|      USA|   CUST108|2024-01-25| ORD011|  PROD005|       Webcam HD|       1|    49.99|      49.99|    1|2024|
|    Japan|   CUST109|2024-01-26| ORD012|  PROD007|  Headphones ANC|       1|   199.99|     199.99|    1|2024|
|      USA|   CUST101|2024-01-27| ORD013|  PROD003|       Mouse XYZ|       3|     25.5|       76.5|    1|2024|
|       UK|   CUST110|2024-01-28| ORD014|  PROD006|    Monitor 27in|       1|    300.0|      300.0|    1|2024|
|   Canada|   CUST102|2024-01-29| ORD015|  PROD008|External SSD 1TB|       1|    150.0|      150.0|    1|2024|
+---------+----------+----------+-------+---------+----------------+--------+---------+-----------+-----+----+
only showing top 20 rows

### Sorting

In [32]:
# ort orders by OrderDate or TotalAmount
sorted_orders = df_list.sort("OrderDate", "TotalAmount")
print("Sorted orders:")
sorted_orders.show()  # Display the sorted orders DataFrame

Sorted orders:
+---------+----------+----------+-------+---------+----------------+--------+---------+-----------+-----+----+
|  Country|CustomerID| OrderDate|OrderID|ProductID|     ProductName|Quantity|UnitPrice|TotalAmount|Month|Year|
+---------+----------+----------+-------+---------+----------------+--------+---------+-----------+-----+----+
|      USA|   CUST101|2024-01-15| ORD001|  PROD003|       Mouse XYZ|       2|     25.5|       51.0|    1|2024|
|      USA|   CUST101|2024-01-15| ORD001|  PROD001|        Laptop A|       1|   1200.0|     1200.0|    1|2024|
|   Canada|   CUST102|2024-01-16| ORD002|  PROD002|    Smartphone B|       1|    850.0|      850.0|    1|2024|
|      USA|   CUST101|2024-01-17| ORD003|  PROD005|       Webcam HD|       1|    49.99|      49.99|    1|2024|
|      USA|   CUST101|2024-01-17| ORD003|  PROD004|    Keyboard Pro|       1|     75.0|       75.0|    1|2024|
|       UK|   CUST103|2024-01-18| ORD004|  PROD006|    Monitor 27in|       1|    300.0|      300.0|    1|2024|
|       UK|   CUST103|2024-01-18| ORD004|  PROD001|        Laptop A|       1|   1200.0|     1200.0|    1|2024|
|Australia|   CUST104|2024-01-19| ORD005|  PROD007|  Headphones ANC|       1|   199.99|     199.99|    1|2024|
|      USA|   CUST105|2024-01-20| ORD006|  PROD003|       Mouse XYZ|       1|     25.5|       25.5|    1|2024|
|      USA|   CUST105|2024-01-20| ORD006|  PROD008|External SSD 1TB|       1|    150.0|      150.0|    1|2024|
|   Canada|   CUST102|2024-01-21| ORD007|  PROD009|   Printer Laser|       1|    220.0|      220.0|    1|2024|
|  Germany|   CUST106|2024-01-22| ORD008|  PROD010|    Smartwatch X|       1|   299.99|     299.99|    1|2024|
|      USA|   CUST101|2024-01-23| ORD009|  PROD002|    Smartphone B|       1|    850.0|      850.0|    1|2024|
|   France|   CUST107|2024-01-24| ORD010|  PROD004|    Keyboard Pro|       2|     75.0|      150.0|    1|2024|
|      USA|   CUST108|2024-01-25| ORD011|  PROD005|       Webcam HD|       1|    49.99|      49.99|    1|2024|
|      USA|   CUST108|2024-01-25| ORD011|  PROD001|        Laptop A|       1|   1200.0|     1200.0|    1|2024|
|    Japan|   CUST109|2024-01-26| ORD012|  PROD007|  Headphones ANC|       1|   199.99|     199.99|    1|2024|
|      USA|   CUST101|2024-01-27| ORD013|  PROD003|       Mouse XYZ|       3|     25.5|       76.5|    1|2024|
|       UK|   CUST110|2024-01-28| ORD014|  PROD006|    Monitor 27in|       1|    300.0|      300.0|    1|2024|
|   Canada|   CUST102|2024-01-29| ORD015|  PROD008|External SSD 1TB|       1|    150.0|      150.0|    1|2024|
+---------+----------+----------+-------+---------+----------------+--------+---------+-----------+-----+----+
only showing top 20 rows